* {
    margin: 0;
    padding: 0;
}

body {
    background:url(http://i.stack.imgur.com/RONui.png);
}

h1 {
    margin: 8px 0px 4px 0px;
    float: right;
    font-size: 40px;
    font-variant:small-caps;
    color:#c1f843;
    text-shadow: 2px 0px 4px rgba(34, 118, 80, 0.78);
   
}

ul,ol {
    margin-left: 25px;
}

#block {
    margin: 20px auto;
    max-width: 700px;
    min-width: 600px;
    width: 60%;
}

#GreenEditor {
    width: 100%;
    max-height: 900px;
    max-width: 800px;
    min-height: 202px;
    min-width: 300px;
    font-size: 17px;
    font-family:sans-serif;
    background-color: rgba(164, 250, 1, 0.42);
    border: 2px solid #5d8600;
    border-radius: 5px;
    overflow: hidden;
    outline: none;
    box-shadow: 1px 1px 7px rgba(34, 118, 80, 0.86)
}

#GreenEditor #buttons {
    padding: 2px 3px 3px 6px;
    height: 34px;
    border-top:3px double #5d8600;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#GreenEditor #buttons button {
    height: 24px;
    width: 24px;
    padding-top: 2px;
    margin-right: 2px;
    background-color: rgba(245, 253, 150, 0.83);
    opacity:0.7;
    border: 1px solid #5d8600;
    border-radius: 5px;
    display: block;
    float: left;
}

#GreenEditor #buttons button.active {
    background-color: rgba(246, 255, 25, 0.56);
}

#GreenEditor #buttons .divide {
    height: 25px;
    width: 0px;
    border-left: 1px solid #5d8600;
    float: left;
    margin-top: 0px;
    
}

#GreenEditor #theInputField {
    width: 100%;
    height: 270px;
    min-height: 170px;
    color:#41b42c;
    padding: 15px 20px;
    overflow-x: hidden;
    overflow-y: auto;
    word-wrap: break-word;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
#GreenEditor #theInputField img{   
    max-width: 60%;    
    max-height: 35%;    
}

#GreenEditor #theInputField:focus {
    outline: none;
}

#GreenEditor #theInputField.dragenter {
    background-color: rgba(216, 51, 255, 0.17);
}

#GreenEditor #theInputField #drag-message {
    display: none;
}
